  <h1>
  Actor #<%= @actor.id%> details
</h1>

<a href="/actors">
  Go back
</a>

<hr>

<dl>
  <dt>
    Name
  </dt>
  <dd>
    <%=@actor.name%>
  </dd>

  <dt>
    Dob
  </dt>
  <dd>
    <%=@actor.dob%>
  </dd>

  <dt>
    Bio
  </dt>
  <dd>
   <%=@actor.bio%>
  </dd>

  <dt>
    Image
  </dt>
  <dd>
    <img src=<%=@actor.image%> style="width:250px;">
  </dd>

  <dt>
    Created at
  </dt>
  <dd>
    <%=@actor.created_at%>
  </dd>

  <dt>
    Updated at
  </dt>
  <dd>
    <%=@actor.updated_at%>
  </dd>
</dl>

<hr>
<h2>Filmography</h2>
<table border="1">
  <tr>
    <th>Title</th>
    <th>Year</th>
    <th>Director</th>
    <th>Character name</th>
    <th></th>
  </tr>

  <% @movies.each do |movie| %>
    <tr>
      <td><%= movie.title %></td>
      <td><%= movie.year %></td>
      <td><%= movie.director.name %></td>
      <td>
        <% # Find characters that link this actor to the movie %>
        <% characters = @characters.select { |c| c.movie_id == movie.id } %>
      <% characters.each do |character| %>
        <%= character.name %><br>
      <% end %>
      </td>
      <td>
        <%= link_to 'Show details', movie_path(movie) %>
      </td>
    </tr>
  <% end %>
</table>
